ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #302f2f;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
li{
    float: left;
    border-right: 1px solid #bbb;
    color: white;
}
li:last-child{
    border-right: none;
}
li a{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}
li a :hover{
    color: burlywood;
}
.container{
    margin-left: auto; 
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 25px;
}