<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>App || Homepage</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'assistant_app/style.css' %}">
    </head>
    <body>

        <h1>Python Assistant</h1>

        <div>
            <div id="assistant">
                <p class="displayText"><span>Howdy!</span></p>
            </div>

            <div id="userInput">
                <input type="text" id="textInput" name="userMessage" placeholder="Type your message here...">
                <input type="submit" id="buttonInput" value="Submit">
            </div>
        </div>

    </body>
</html>