<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>App || Homepage</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'assistant_app/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.7.1.js" 
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
        </script>
    </head>
    <body>

        <h1>Python Assistant</h1>

        <div>
            <div id="assistant">
                <p class="displayText"><span>Howdy!</span></p>
            </div>

            <div id="userInput">
                <input type="text" id="textInput" name="userMessage" placeholder="Type your message here...">
                <input type="submit" id="buttonInput" value="Submit">
            </div>
        </div>

        <script>

            listOptions();

            function listOptions()
            {
                let options=[
                    {number:1,title:'Weather'},
                    {number:2,title:'News'}
                ]

                var html="<p class='displayText'>System says: <span>Please select an option from the list.</span></p>";
                $('#assistant').append(html);

                for(i=0;i<options.length;i++)
                {
                    var html="<p class='displayText'><span>"+options[i].number+" for "+options[i].title+"</span></p>";
                    $('#assistant').append(html);
                }

                var assistant=document.getElementById('assistant');
                assistant.scrollTop=assistant.scrollHeight;
            }

            function sendMessage(textMsg)
            {
                var userHtml="<p class='userText'>User says: <span>"+textMsg+"</span></p>";
                $('#assistant').append(userHtml);
            }

            function getUserText()
            {
                var userHtml="<p class='userText'>User says: <span>"+userText+"</span></p>";
                $('#assistant').append(userHtml);

                $.get('/assistant_app/getResponse',{userMessage:userText}).done(function(data)
                {
                    var msgTest="<p class='displayText'>System says: <span>"+data+"</span></p>";
                    $('#assistant').append(msgTest);
                })
            }

            function getWeather()
            {
                navigator.geolocation.getCurrentPosition((pos)=>{
                    let lat=pos.coords.latitude;
                    let long=pos.coords.longitude;

                    $.get('/assistant_app/getWeather',{lat:lat,long:long}).done(function(data)
                    {
                        var msgTest="<p class='displayText'>System says [Location]: <span>"+data.name+"</span></p>"+
                        "<p class='displayText'>System says [Temp]: <span>"+data.main.temp+"</span></p>"+
                        "<p class='displayText'>System says [Weather]: <span>"+data.weather[0].description+"</span></p>";
                        $('#assistant').append(msgTest);
                    })
                })
            }

            function getNews()
            {  
                $.get('/assistant_app/getNews').done(function(data)
                {
                    for(let i=0;i<5;i++)
                    {
                        var msgTest="<p class='displayText'>System says [Title]: <span>"+data.articles[i].title+"</span></p>"+
                        "<p class='displayText'>System says [Author]: <span>"+data.articles[i].author+"</span></p>"+"<hr>";
                        $('#assistant').append(msgTest);
                    }
                })
            }

            function systemResponse(textMsg)
            {
                if(textMsg=='1')
                {
                    getWeather();
                }else if(textMsg=='2')
                {
                    getNews();
                }else
                {
                    alert('Invalid input entered!');
                }
            }

            $('#buttonInput').click(function()
            {
                var userText=$('#textInput').val();
                $('#textInput').val("");

                if (userText=="")
                {
                    alert('Field(s) cannot be empty!');
                }else
                {
                    let textMsg=userText.trim();
                    sendMessage(textMsg);

                    systemResponse(textMsg);
                }
            })

        </script>
    </body>
</html>